<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post, data: { "unpoly" => true } %> |
  <%= link_to "Back to posts", posts_path, data: { "unpoly" => true } %>
</div>
